* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/AppliedRPA-repo/images/robotic-process-automation-banner-top.jpg");

  width: 100vw;
  aspect-ratio: 900/400;
  min-height: 60vh;
  /* 2. Position and center the image to scale nicely on all screens. */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(229, 229, 238);
}
.tagline {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(229, 229, 238);
  font-family: "Playfair Display";
}
.rpa-definition {
  justify-content: center;
  border-radius: 1em;
  /* border:1px solid cornflowerblue; */
  box-shadow: 5px 5px 5px rgb(138, 168, 223);
  text-align: justify;
}
.rpa-definition:hover {
  border: 2px solid rgb(153, 44, 241);
}
.rpa-definition h3 {
  color: rgb(0, 119, 255);
  font-weight: 600;
}
.rpa-definition-img {
  max-width: 80%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
  overflow: hidden;
}
.rpa-definition-img:hover {
  cursor: pointer;

  filter: brightness(0.6);
  transform: scale(1.1);
}
.body-rpa-benifits{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  color:black;
  font-weight: 600;
}

.robo-img::after{
  content: "";
  display: block;
  background-color: turquoise;
  height: 3px;
  width: 4rem;
  margin: 0.4em auto 0.5em;
}
.description-1 img {
  margin-left: 1rem;
  margin-top: 1rem;
  max-width: 5rem;
  min-height: 5rem;
  text-align: justify;
}
.description-2 img {
  margin-left: 1rem;
  margin-top: 1rem;
  max-width: 5rem;
  min-height: 5rem;
  text-align: justify;
}
.description-3 img {
  margin-left: 1rem;
  margin-top: 1rem;
  max-width: 5rem;
  min-height: 5rem;
  text-align: justify;
}
.description-4 img {
  margin-left: 1rem;
  margin-top: 1rem;
  max-width: 5rem;
  min-height: 5rem;
  text-align: justify;
}